**/.git
.git/**
.github/**
.gitmodules/**
.vscode/**

coverage/**
typescript/**

**/*.ts
**/*.vsix
**/*.js.map
**/*.test.js
**/*.gitignore
**/*.tsbuildinfo
**/*.vscodeignore

**/tsconfig.json
**/eslint.config.mjs
**/tsconfig.build.json

assets/**
package/assets/**
!assets/logo.png
package/binary
vscode/esbuild.config.mjs